.container-home1 {
    position: relative;
    text-align: center;
    color: white;
}

.mainb {
    width: 95%;
    height: 95%;
    filter: brightness(0.5);
}

.maint {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 67px;
    letter-spacing: 0.07em;
}

.btn1 {
    position: absolute;
    top: 80%;
    left: 43%;
    width: 15%;
    height: 9%;
    background: #967072;
    font-family: 'Montserrat';
    font-weight: 600;
}

.lineg {
    border: 2px solid #999999;
    width: 400px;
}

.col-abs {
    position: relative;
}

.col-abs1 {
    position: relative;
}

.img-text1 {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 50%;
    color: white;
    font-weight: 600;
}

.img-text2 {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 50%;
    color: white;
    font-weight: 600;
}

.img1 {
    width: 100%;
}

.img2 {
    width: 100%;
}

.img-text4 {
    position: absolute;
    top: 18%;
    left: 28%;
    color: white;
}

.img-text4 h3 {
    font-weight: 700;
    width: 70%;
}

.img4 {
    width: 95%;
}

.img3 {
    width: 100%;
}

.line1 {
    width: 100%;
    height: 0px;
    border: 1px solid #967072;
}

.line2 {
    height: 0px;
    border: 1px solid #C4C4C4;
}

.line3 {
    height: 0px;
    width: 290px;
    border: 1px solid #7A7979;
}

.col-detail {
    border: 2px solid #967072;
    border-radius: 8px;
}

.text-detail {
    font-style: normal;
    font-weight: 400;
}


.btn-r {
    background: #74A370;
    border-radius: 100px;
}